
  .background {
    position: relative; 
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
  }
  
  .background-inner {
    background-image:  url('/imgaes/cloud-sky-rain-atmosphere-weather-storm-1091303-pxhere.com.jpg');
    /* background-image: url(${require('../images/cloud-sky-rain-atmosphere-weather-storm-1091303-pxhere.com.jpg')}); */
    background-size: 100% 100%;
    height: 100vh;
    width: 150vw; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    animation: move-clouds 40s linear infinite;
    -webkit-animation: move-clouds 40s linear infinite;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    background-repeat: repeat-x;
  }
  
  @keyframes move-clouds {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50vw); 
    }
  }
  
